<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.example.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.example.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>account1_Servlet</servlet-name>
    <servlet-class>com.example.servlet.account1_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>account2_Servlet</servlet-name>
    <servlet-class>com.example.servlet.account2_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>revise_user_Servlet</servlet-name>
    <servlet-class>com.example.servlet.revise_user_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>account3_Servlet</servlet-name>
    <servlet-class>com.example.servlet.account3_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>revise_password_Servlet</servlet-name>
    <servlet-class>com.example.servlet.revise_password_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>account4_Servlet</servlet-name>
    <servlet-class>com.example.servlet.account4_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>planindex_Servlet</servlet-name>
    <servlet-class>com.example.servlet.planindex_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>newplan_Servlet</servlet-name>
    <servlet-class>com.example.servlet.newplan_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>newplan2_Servlet</servlet-name>
    <servlet-class>com.example.servlet.newplan2_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>newplan3_Servlet</servlet-name>
    <servlet-class>com.example.servlet.newplan3_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>newplan4_Servlet</servlet-name>
    <servlet-class>com.example.servlet.newplan4_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>newplan5_Servlet</servlet-name>
    <servlet-class>com.example.servlet.newplan5_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>newplan6_Servlet</servlet-name>
    <servlet-class>com.example.servlet.newplan6_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>newplan7_Servlet</servlet-name>
    <servlet-class>com.example.servlet.newplan7_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>newplan8_Servlet</servlet-name>
    <servlet-class>com.example.servlet.newplan8_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>newplan9_Servlet</servlet-name>
    <servlet-class>com.example.servlet.newplan9_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>newplan10_Servlet</servlet-name>
    <servlet-class>com.example.servlet.newplan10_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>newplan11_Servlet</servlet-name>
    <servlet-class>com.example.servlet.newplan11_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>newplan12_Servlet</servlet-name>
    <servlet-class>com.example.servlet.newplan12_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>newplan13_Servlet</servlet-name>
    <servlet-class>com.example.servlet.newplan13_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>planlist_Servlet</servlet-name>
    <servlet-class>com.example.servlet.planlist_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>fragindex_Servlet</servlet-name>
    <servlet-class>com.example.servlet.fragindex_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>fragout_Servlet</servlet-name>
    <servlet-class>com.example.servlet.fragout_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>version_Servlet</servlet-name>
    <servlet-class>com.example.servlet.version_Servlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>account1_Servlet</servlet-name>
    <url-pattern>/account1_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>account2_Servlet</servlet-name>
    <url-pattern>/account2_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>revise_user_Servlet</servlet-name>
    <url-pattern>/revise_user_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>account3_Servlet</servlet-name>
    <url-pattern>/account3_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>revise_password_Servlet</servlet-name>
    <url-pattern>/revise_password_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>account4_Servlet</servlet-name>
    <url-pattern>/account4_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>planindex_Servlet</servlet-name>
    <url-pattern>/planindex_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newplan_Servlet</servlet-name>
    <url-pattern>/newplan_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newplan2_Servlet</servlet-name>
    <url-pattern>/newplan2_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newplan3_Servlet</servlet-name>
    <url-pattern>/newplan3_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newplan4_Servlet</servlet-name>
    <url-pattern>/newplan4_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newplan5_Servlet</servlet-name>
    <url-pattern>/newplan5_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newplan6_Servlet</servlet-name>
    <url-pattern>/newplan6_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newplan7_Servlet</servlet-name>
    <url-pattern>/newplan7_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newplan8_Servlet</servlet-name>
    <url-pattern>/newplan8_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newplan9_Servlet</servlet-name>
    <url-pattern>/newplan9_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newplan10_Servlet</servlet-name>
    <url-pattern>/newplan10_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newplan11_Servlet</servlet-name>
    <url-pattern>/newplan11_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newplan12_Servlet</servlet-name>
    <url-pattern>/newplan12_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newplan13_Servlet</servlet-name>
    <url-pattern>/newplan13_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>planlist_Servlet</servlet-name>
    <url-pattern>/planlist_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>fragindex_Servlet</servlet-name>
    <url-pattern>/fragindex_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>fragout_Servlet</servlet-name>
    <url-pattern>/fragout_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>version_Servlet</servlet-name>
    <url-pattern>/version_Servlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
